<body>
    <%= erb :'partials/header' %> 
        <div class="centered" id="post">
            <form action="/home" method="POST">
                <input type="text" name="title">
                <textarea style="resize:none" name="input" placeholder="yeerrrrr"></textarea>
                <input type="submit">
            </form>
        </div>
            <% @posts.reverse.each do |posts| %>
                <div class="feed">
                    <p>
                        <%= posts.username %>
                    </p>
                    <h2>
                        <%= posts.title %>
                    </h2>
                    <p>
                        <%= posts.input %>
                    </p>
                </div>
            <% end %>
    <%= erb :'partials/footer' %> 
</body>