<body>
    <% if @user %>
    <%= erb :'partials/header' %> 
        <div class="feed">
            <h2>
            Username: 
                <%= @user.username %>
            </h2>
            <h2>
            First Name: 
                <%= @user.first_name %>
            </h2>
            <h2>
            Last Name: 
                <%= @user.last_name %>
            </h2>
            <h2>
            Birthday: 
                <%= @user.birthday %>
            </h2>
            <h2>
            Posts:
            </h2>
                <div class="feed">
                    <% @user.posts.reverse.each do |posts| %>
                        <h1>
                            <%= posts.title %>
                        </h1>
                        <p>
                            <%= posts.input %>
                        </p>   
                    <% end %>
                </div>
        </div>
    <% end %>
    <%= erb :'partials/footer' %> 
</body>